* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #111111;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#top-menu li.active a {
    border-top: 3px solid #333;
    color: #333;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 320px;
  min-height: 100rem;
  background-color: #333333;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.slideInLeft {
  animation-duration: 0.8s;
}
.nav__list {
  display: flex;
  margin-top: 5rem;
  flex-flow: column wrap;
  height: 60vh;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__list {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav__item {
  position: relative;
  height: 60px;
  margin-top: 30px;
}

ul li p {
  float: right;
  padding: 30px;
  margin-right: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  font-size: 24px;
  background: #FFFF;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__link:hover {
  background: #ffff;
}
@media (max-width: 640px) {
  .nav {
    width: 70px;
  }
  .nav__list {
    height: 90vh;
  }
}

.burger {
  height: 15vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #333333;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger img{
  max-width: 150px;
  padding: 5px;
  margin-right: 12rem;

}
.burger__patty {
  position: relative;
  height: 2px;
  width: 40px;
  background: white;
}
.burger__patty:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty, .burger__patty:before, .burger__patty:after {
  will-change: transform;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger--active .burger__patty {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.burger--active .burger__patty:before {
  -webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
          transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
}
.burger--active .burger__patty:after {
  -webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
          transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
}
@media (max-width: 640px) {
  .burger {
    height: 10vh;
  }
  .burger__patty {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .burger--active .burger__patty {
    -webkit-transform: scale(0.8) rotate(90deg);
            transform: scale(0.8) rotate(90deg);
  }
}

.panel {
  min-height: 100vh;
  margin-left: 20rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.panel__wrapper {
  padding: 7vh 7vw;
  padding-right: 150px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.panel__headline {
  font-weight: 700;
  opacity: 0.8;
  font-size: 48px;
  margin: 0 0 25px 0;
}

.panel p:last-child {
  margin-bottom: 0;
}
.panel__block {
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0 25px 0;
}
@media (max-width: 640px) {
  .panel__headline {
    font-size: 36px;
  }
  .panel__wrapper {
    padding: 10vh 10vw;
  }
  .panel p {
    font-size: 16px;
  }
}
.first-sec-img {
  display: inline-block;
  width: 100rem;
  margin-left: 25rem;
  margin-top: -1rem;
}
.zero-image {
  max-width: 11rem;
  max-height: 25rem;
  margin-bottom: 50rem;
  animation-duration: 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: both;
}
.arrow-image {
  max-width: 4rem;
  max-height: 4rem;
  margin-bottom: 55rem;
  margin-left: 3rem;
  animation-duration: 0.8s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
}
.hundred-image {
  min-width: 60rem;
  max-height: 35rem;
  margin-bottom: 31.5rem;
  margin-left: 3rem;
  animation-duration: 1s;
  animation-delay: 1.1s;
  animation-fill-mode: both;
}

.panel__headline_one{
  color: #FFFF;
  font-weight: 500;
  font-size: 70px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}
.first-sec-text {
  margin-left: 26.5rem;
  margin-top: -45rem;
  color: #fff;
  max-width: 800px;
  font-size: 21px;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.first-sec-text-two {
  margin-left: 26.5rem;
  margin-top: 6rem;
  color: #fff;
  max-width: 800px;
  font-size: 20px;
  font-weight: bold;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.first-sec-text-two-text {
  margin-left: 26.5rem;
  margin-top: 1rem;
  color: #fff;
  max-width: 800px;
  font-size: 18px;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.news-line {
  display: inline-block;
  width: 500px;
  border-bottom: 1.5px solid #fff;
  line-height: 0;
  margin-bottom: 6px;
}
.first-sec-button {
  margin-left: 26.5rem;
  margin-top: 2rem;
  transition: all .5s ease;
  color: #fff;
  border: 1px solid white;
  text-align: center;
  line-height: 1;
  font-size: 20px;
  background-color: transparent;
  padding: 15px 50px;
  outline: none;
  animation-duration: 0.7s;
  animation-delay: 1.5s;
  animation-fill-mode: both;
}
.first-sec-button:hover{
    color: #001F3F;
    background-color: #fff;
}

.panel__content button {
    margin-top: 75px;
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 50px;
    outline: none;
}
.panel__content button:hover{
    color: #001F3F;
    background-color: #fff;
}

.card-button {
    margin-top: 75px;
    margin-right: 300px;
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 50px;
    outline: none;
}
.card-button:hover{
    color: #001F3F;
    background-color: #fff;
}

.panel__wrapper_two {
  width: 80rem;
  padding-right: 30px;
  padding-left: 120px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.b-red {
  background-image: url("third-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}



.b-green {
  background-image: url("forth-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.panel__headline_four{
  color: #000;
  font-weight: 500;
  font-size: 60px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}
.panel__content_four p{
  color: #000;
  font-size: 20px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}

.panel__content_four button {
    margin-top: 30px;
    transition: all .5s ease;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 70px;
    outline: none;
}

.panel__wrapper_four {
  padding: 7vh 2vw;
  width: 60rem;
  padding-right: 30px;
  padding-left: 120px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.panel__content_four button:hover{
    color: #fff;
    background-color: #000;
}

.form{
  padding: 20px 10px;
}
.form input{
  padding: 10px 10px;
  padding-right: 250px;
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid #000;
}
::placeholder {
  color: #6c6c6c;
  font-size: 15px;
}
.language{
  margin-right: 20px;
}
.language p{
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
  text-align: center;
  float: right;
  padding-right: 30px;
  color: #fff;
}
.footer{
  margin-top: 5rem;
}
.footer p{
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
  color: #fff;
}

/////////////

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pageTitle sup
{
  font-size: .6em;
  color: #333;
}
.well {
  padding: 3%;
  margin: 20px auto;
  border:none;
  text-align: center;
}
.well p
{
  font-weight: 300;
}
.content p
{
  font-weight: 300;
}
.cardContainer
{

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;


  /*depth of the elements */
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;

  /*border: 1px solid #ff0000;*/
  padding-left: 1%;
}
.secondRow
{
  margin-top: -1.4%
}




.cardTitle {
  line-height: 1.2em;
  margin-top: 8%;
  font-weight: 600;
}
.content h3.cardTitle
{
  margin-top: 0%;
}
.content {
  padding: 4%;
  font-weight: 100;
  text-align: left;
  font-weight: bold;
}

@media all and (max-width: 1000px){
  .cardTitle{
      font-weight: 500;
  }
  .content p
  {
    margin-top: -15%;
    line-height: 1.2em;
  }

  .card
  {
   height:175px;
  }
}
@media all and (max-width : 752px) {

  .secondRow
  {
    margin-top: -3%;
  }
  .cardContainer:nth-child(3),.cardContainer:nth-child(4)
  {
    margin-top: 3%;
  }
}
@media all and (max-width : 390px) {

  .card
  {
  width:100%;
   height:150px;
  }
  .secondRow
  {
    margin-top: -9%;
  }
  .well
  {
  padding: 1%;
  }
   .cardContainer:nth-child(3),.cardContainer:nth-child(4)
  {
    margin-top: 5%;
  }
  .cardTitle
  {
   font-weight: 500;
  }
  .content p
  {
    margin-top: -20%;
    line-height: 1.2em;
  }
  .cardWrapper
  {
    margin-left: 4%;
  }
}
