* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat';
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#top-menu li.active a {
    border-top: 3px solid #333;
    color: #333;
}

.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 320px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.nav__list {
  display: flex;
  flex-flow: column wrap;
  height: 85vh;
  background: #FFFF;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__list {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav__item {
  position: relative;
  height: 60px;
  margin-top: 30px;
}

ul li p {
  float: right;
  padding: 30px;
  margin-right: 20px;
  color: #000;
  font-size: 16px;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  font-size: 24px;
  background: #FFFF;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__link:hover {
  background: #ffff;
}
@media (max-width: 640px) {
  .nav {
    width: 70px;
  }
  .nav__list {
    height: 90vh;
  }
}

.burger {
  height: 15vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #FFFF;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger img{
  max-width: 150px;
  padding: 5px;
  margin-right: 100px;

}
.burger__patty {
  position: relative;
  height: 2px;
  width: 40px;
  background: white;
}
.burger__patty:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty, .burger__patty:before, .burger__patty:after {
  will-change: transform;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger--active .burger__patty {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.burger--active .burger__patty:before {
  -webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
          transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
}
.burger--active .burger__patty:after {
  -webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
          transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
}
@media (max-width: 640px) {
  .burger {
    height: 10vh;
  }
  .burger__patty {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .burger--active .burger__patty {
    -webkit-transform: scale(0.8) rotate(90deg);
            transform: scale(0.8) rotate(90deg);
  }
}

.panel {
  min-height: 100vh;
  margin-left: 20rem;
  width: 77.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.panel__wrapper {
  padding: 7vh 7vw;
  padding-right: 200px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.panel__headline {
  font-weight: 700;
  opacity: 0.8;
  font-size: 48px;
  margin: 0 0 25px 0;
}
.panel p {
  margin: 0 0 25px 0;
  color: #1a1a1a;
  font-size: 24px;
  max-width: 800px;
}
.panel p:last-child {
  margin-bottom: 0;
}
.panel__block {
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0 25px 0;
}
@media (max-width: 640px) {
  .panel__headline {
    font-size: 36px;
  }
  .panel__wrapper {
    padding: 10vh 10vw;
  }
  .panel p {
    font-size: 16px;
  }
}

.c-blue {
  background-image: url("first-backround.png");
  color: #5fc7ea;
}

.c-red {
  color: #e68568;
}

.c-green {
  color: #68e6ac;
}

.c-yellow {
  color: #e6d068;
}

.b-blue {
  background-image: url("first-backround.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.panel__headline_one{
  color: #FFFF;
  font-weight: 500;
  font-size: 70px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}

.panel__content button {
    margin-top: 75px;
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 50px;
    outline: none;
}
.panel__content button:hover{
    color: #001F3F;
    background-color: #fff;
}


.b-green {
  background: #68e6ac;
}

.b-yellow {
  background-image: url("second-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.panel__headline_two{
  color: #FFFF;
  font-weight: 500;
  font-size: 60px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}
.panel__content_two p{
  color: #FFFF;
  font-size: 20px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}

.panel__content_two button {
    margin-left: 150px;
    float: right;
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 50px;
    outline: none;
}
.panel__content_two button:hover{
    color: #001F3F;
    background-color: #fff;
}
.panel__wrapper_two {
  padding: 7vh 2vw;
  width: 60rem;
  padding-right: 30px;
  padding-left: 120px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.b-red {
  background-image: url("third-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.panel__headline_three{
  color: #000;
  font-weight: 500;
  font-size: 60px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}
.panel__content_three p{
  color: #000;
  font-size: 20px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}

.panel__content_three button {
    margin-left: 150px;
    float: right;
    transition: all .5s ease;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 50px;
    outline: none;
}
.panel__content_three button:hover{
    color: #fff;
    background-color: #000;
}
.panel__wrapper_three {
  padding: 7vh 2vw;
  width: 60rem;
  padding-right: 30px;
  padding-left: 120px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.logo {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 2;
}
.logo img {
  width: 65px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.logo img:hover {
  -webkit-transform: rotate(180deg) scale(1.1);
          transform: rotate(180deg) scale(1.1);
}
