@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans Japanese',   sans-serif;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #111111;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.loading-video {
  width: 100%;
  z-index: 10;
  position: absolute;
}
.vid {
  position: fixed;
  left: 0rem;
  right: 0rem;
  bottom: 0;
  max-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

#top-menu li.active a {
    border-top: 3px solid #333;
    color: #333;
}
.nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 320px;
  min-height: 100rem;
  background-color: #333333;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.w3-top {
  display: none;
}
.slideInLeft {
  animation-duration: 1s;
  animation-delay: 5s;
}
.nav__list {
  display: flex;
  margin-top: 5rem;
  flex-flow: column wrap;
  height: 60vh;
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__list {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.nav__item {
  position: relative;
  height: 60px;
  margin-top: 30px;
}
ul li p {
  float: right;
  padding: 30px;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.3;
}
.nav-about {
  opacity: 1;
}
.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
  font-size: 24px;
  background: #FFFF;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.nav__link:hover {
  background: #ffff;
}

.burger {
  height: 15vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: #333333;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger img{
  max-width: 150px;
  padding: 5px;
  margin-right: 12rem;

}
.burger__patty {
  position: relative;
  height: 2px;
  width: 40px;
  background: white;
}
.burger__patty:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  height: 2px;
  width: 100%;
  background: white;
}
.burger__patty, .burger__patty:before, .burger__patty:after {
  will-change: transform;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.burger--active .burger__patty {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.burger--active .burger__patty:before {
  -webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
          transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
}
.burger--active .burger__patty:after {
  -webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
          transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
}
@media (max-width: 640px) {
  .burger {
    height: 10vh;
  }
  .burger__patty {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .burger--active .burger__patty {
    -webkit-transform: scale(0.8) rotate(90deg);
            transform: scale(0.8) rotate(90deg);
  }
}

.panel {
  height: 100vh;
  margin-left: 20rem;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.panel__wrapper {
  padding: 7vh 7vw;
  padding-right: 150px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.b-blue {
  width: 100%;
  margin-left: 12rem;
}

.panel__headline {
  font-weight: 700;
  opacity: 0.8;
  font-size: 48px;
  margin: 0 0 25px 0;
}

.panel p:last-child {
  margin-bottom: 0;
}
.panel__block {
  height: 3px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0 0 25px 0;
}
.first-sec-img {
  display: inline-block;
  width: 105rem;
  margin-left: 25rem;
  margin-top: -1rem;
}
.zero-image {
  max-width: 11rem;
  max-height: 25rem;
  margin-bottom: 50rem;
  animation-duration: 0.8s;
  animation-delay: 5s;
  animation-fill-mode: both;
}
.arrow-image {
  max-width: 4rem;
  max-height: 4rem;
  margin-bottom: 51rem;
  margin-left: 5rem;
  animation-duration: 0.8s;
  animation-delay: 5.3s;
  animation-fill-mode: both;
}
.hundred-image {
  width: 60rem;
  height: 35rem;
  margin-bottom: 35rem;
  margin-left: 5rem;
  margin-right: -5rem;
  animation-duration: 1s;
  animation-delay: 5.8s;
  animation-fill-mode: both;
}

.panel__headline_one{
  color: #FFFF;
  font-weight: 500;
  font-size: 70px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}
.first-sec-text {
  margin-left: 26.5rem;
  margin-top: -45rem;
  color: #fff;
  max-width: 800px;
  font-size: 16px;
  animation-duration: 1s;
  animation-delay: 6.1s;
  animation-fill-mode: both;
}
.first-sec-text-two {
  margin-left: 26.5rem;
  margin-top: 6rem;
  color: #fff;
  max-width: 800px;
  font-size: 14px;
  font-weight: bold;
  animation-duration: 1s;
  animation-delay: 6.1s;
  animation-fill-mode: both;
}
.first-sec-text-two-text {
  margin-left: 26.5rem;
  margin-top: 1rem;
  color: #fff;
  max-width: 800px;
  font-size: 14px;
  animation-duration: 1s;
  animation-delay: 6.1s;
  animation-fill-mode: both;
}
.news-line {
  display: inline-block;
  width: 350px;
  border-bottom: 1.5px solid #fff;
  line-height: 0;
  margin-bottom: 6px;
}
.first-sec-button {
  margin-left: 26.5rem;
  cursor: pointer;
  margin-top: 2rem;
  color: #fff;
  border: 1px solid white;
  text-align: center;
  line-height: 1;
  font-size: 14px;
  background-color: transparent;
  padding: 15px 50px;
  outline: none;
  animation-duration: 0.7s;
  animation-delay: 6.1s;
  animation-fill-mode: both;
}
.about-link {
  color: #fff;
  text-decoration: none;
}
.about-link {
  color: #001F3F;
}
.first-sec-button:hover{
    color: #001F3F;
    background-color: #fff;
}
.third-sec-images {
  display: inline-block;
  width: 100%;
  margin-left: 8rem;
  margin-top: -1rem;
}
.third-sec-img {
  max-width: 22rem;
  max-height: 20rem;
  margin: 1rem;
  transition: transform .4s;
  opacity: 0.6;
}
.third-sec-img:hover {
  transform: scale(1.1);
  opacity: 1;
}

.panel__content button {
    margin-top: 75px;
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 50px;
    outline: none;
}
.panel__content button:hover{
    color: #001F3F;
    background-color: #fff;
}

.card-button {
    margin-top: 75px;
    margin-right: 300px;
    transition: all .5s ease;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 50px;
    outline: none;
}
.card-button:hover{
    color: #001F3F;
    background-color: #fff;
}

.panel__wrapper_two {
  width: 80rem;
  padding-right: 30px;
  padding-left: 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.panel__headline_four{
  color: #fff;
  font-weight: 500;
  font-size: 60px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}
.panel__content_four p{
  color: #000;
  font-size: 20px;
  margin: 0px 0 20px 0;
  line-height: 1.8;
}
.panel__wrapper_four {
  padding: 7vh 2vw;
  width: 60rem;
  margin-left: -10rem;
  padding-right: 30px;
  padding-left: 120px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.panel__content_four button {
    margin-top: 30px;
    transition: all .5s ease;
    color: #000;
    border: 1px solid #fff;
    text-align: center;
    line-height: 1;
    font-size: 20px;
    background-color : transparent;
    padding: 15px 70px;
    outline: none;
    background-color: #fff;
}
.panel__content_four button:hover{
    color: #FFF;
    background-color: #000;
}
.b-green {
}

.form{
  padding: 20px 0px;
  display: table-caption;
}
label {
  color: #fff;
}
.form input{
  padding: 10px 10px;
  padding-right: 250px;
  margin: 15px 0;
  border: none;
  border: 1px solid #FFF;
  background: transparent;
}
::placeholder {
  color: grey;
  font-size: 15px;
}
.language{
  margin-right: 20px;
}
.language p{
  font-size: 12px;
  font-weight: 400;
  padding: 0 10px;
  text-align: center;
  float: right;
  padding-right: 30px;
  color: #fff;
}
.footer{
  margin-top: 5rem;
}
.footer p{
  font-size: 12px;
  padding: 0 10px;
  text-align: center;
  color: #fff;
}

.animation {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pageTitle sup
{
  font-size: .6em;
  color: #333;
}
.well {
  padding: 3%;
  margin: 20px auto;
  border:none;
  text-align: center;
}
.well p
{
  font-weight: 300;
}
.content p
{
  font-weight: 300;
}
.secondRow
{
  margin-top: -1.4%
}
.content h3.cardTitle
{
  margin-top: 0%;
}
.content {
  padding: 4%;
  font-weight: 100;
  text-align: left;
  font-weight: bold;
}
.first-img-sec-sp {
  display: none;
}

@media all and (max-width: 1550px){
  .first-sec-img {
    width: 75rem;
    margin-left: 9rem;
  }
  .arrow-image {
    margin-bottom: 55rem;
  }
  .hundred-image {
    width: 50rem;
    margin-bottom: 38.5rem;
  }
  .zero-image {
    margin-bottom: 56rem;
  }
  .first-sec-text {
    margin-left: 10rem;
    margin-top: -50rem;
  }
  .first-sec-button {
    margin-left: 10rem;
  }
  .first-sec-text-two  {
    margin-left: 10rem;
  }
  .first-sec-text-two-text {
    margin-left: 10rem;
  }
  .panel {
    height: auto;
  }
  .panel__wrapper_three {
    margin-top: 10rem;
    margin-left: -6rem;
    width: 100%;
  }
}
@media all and (max-width: 1500px){
  .panel__wrapper_three {
    margin-top: 8rem;
    margin-left: -8rem;
    width: 80%;
  }
}
@media all and (max-width: 1400px){
  .first-sec-img {
    width: 70rem;
    margin-left: 15rem;
  }
  .arrow-image {
    margin-bottom: 61rem;
  }
  .hundred-image {
    width: 40rem;
    margin-bottom: 45rem;
  }
  .zero-image {
    margin-bottom: 62rem;
  }
  .first-sec-text {
    margin-left: 17rem;
    margin-top: -55rem;
  }
  .first-sec-button {
    margin-left: 17rem;
  }
  .first-sec-text-two  {
    margin-left: 17rem;
  }
  .first-sec-text-two-text {
    margin-left: 17rem;
  }
  .panel__wrapper_two {
    width: 55rem;
    margin-top: 3rem;
  }
  .panel__wrapper_three {
    margin-top: 8rem;
    margin-left: -5rem;
    width: 100%;
  }
  .b-yellow {
    margin-left: 16rem;
  }
  .panel {
    height: auto;
  }
  .panel__wrapper_four {
    padding: 7vh 2vw;
    width: 100%;
    margin-left: 5rem;
  }
}

@media all and (max-width: 1200px){
  .first-sec-img {
    width: 70rem;
    margin-left: 27rem;
  }
  .first-sec-text {
    margin-left: 28rem;
    margin-top: -55rem;
  }
  .first-sec-button {
    margin-left: 28rem;
  }
  .first-sec-text-two  {
    margin-left: 28rem;
  }
  .first-sec-text-two-text {
    margin-left: 28rem;
  }
  .b-yellow {
    margin-left: 22rem;
  }
  .third-sec-images {
    margin-left: 9rem;
  }
  .panel__wrapper_four {
    margin-left: 6rem;
  }
  .news-line {
    width: 350px;
  }
  .nav {
    min-height: 110rem;
  }
}

@media all and (max-width: 1020px){
  .slideInLeft {
    display: none;
  }
  .loading-video {
    display: none;
  }
  .w3-top {
    display: block;
  }
  .panel {
    margin-left: -6rem;
    width: 130%;
  }
  .first-sec-img {
    width: 110%;
    margin-left: 0rem;
  }
  .hundred-image {
      width: 41rem;
      animation-delay: 1.6s;
  }
  .zero-image {
    margin-bottom: 60rem;
    animation-delay: 1s;
  }
  .arrow-image {
    animation-delay: 1.2s;
  }
  .first-sec-text {
    margin-left: 1rem;
    animation-delay: 1.3s;
  }
  .first-sec-button {
    margin-left: 1rem;
    animation-delay: 1.3s;
  }
  .first-sec-text-two  {
    margin-left: 1rem;
    animation-delay: 1.3s;
  }
  .first-sec-text-two-text {
    margin-left: 1rem;
    animation-delay: 1.3s;
  }
  .panel__wrapper_two {
    width: 100%;
    margin-right: 2rem;
    margin-left: 3.5rem;
    margin-bottom: 3rem;
  }
  .panel {
    height: auto;
  }
  .panel__wrapper_three {
    margin-top: 3rem;
    width: 80%;
    margin-left: -0rem;
  }
  .panel__wrapper_four {
    padding: 2rem;
    width: 100%;
    margin-left: 10rem;
  }
  .sp-logo-img {
    height: 25px;
    width: 100px;
    margin-left: -10px;
  }
}
@media all and (max-width : 990px){
  .panel__wrapper_two {
    width: 75%;
    margin-left: -9rem;
  }
}
@media all and (max-width : 910px) {
  .slideInLeft {
    display: none;
  }
  .zero-image {
    margin-bottom: 60rem;
  }
  .panel {
    margin-left: -2rem;
    width: 130%;
  }
  .first-sec-img {
    width: 140%;
  }
  .panel {
    height: auto;
  }
  .panel__wrapper_two {
    width: 70%;
    margin-left: -15rem;
  }
  .panel__wrapper_three {
    margin-top: 3rem;
    width: 80%;
    margin-left: -16rem;
  }
  .third-sec-images {
    margin-left: 7rem;
  }
}
@media all and (max-width : 710px) {
  .first-sec-img {
    display: none;
  }
  .first-img-sec-sp {
    display: block;
    margin-top: 7rem;
  }
  .first-img-sp {
    height: auto;
    width: 100%;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: both;
  }
  .first-sec-text {
    margin-top: 2rem;
    font-size: 20px;
  }
  .first-sec-text-two {
    font-size: 16px;
    margin-top: 3rem;
  }
  .news-line {
    width: 240px;
  }
  .panel__wrapper {
    padding: 0 0 0 2.5rem;
    width: 100%;
  }
  .first-sec-button {
    font-size: 12px;
  }
  .first-sec-text-two-text {
    font-size: 12px;
  }
  .panel {
    height: auto;
  }
  .panel__wrapper_two {
    width: 78%;
    margin-top: 3rem;
    margin-left: -8.2rem;
  }
  .panel__wrapper_three {
    margin-top: 3rem;
    width: 80%;
    margin-left: -18rem;
  }
  .third-sec-images {
    margin-left: 14rem;
  }
  .panel__wrapper_four {
    margin-left: 4rem;
  }
  .form input {
    padding-right: 155px;
  }
}
@media all and (max-width : 415px) {
.panel__wrapper_two {
  margin-top: 4rem;
  margin-left: -.5rem;
  width: 100%;
  }
  .panel__wrapper_three {
    margin-top: 1rem;
    width: 100%;
    margin-left: -17.5rem;
  }
  .form input {
    padding-right: 135px;
  }
  .third-sec-img {
    max-width: 25rem;
  }
  .sp-logo-img {
    height: 25px;
    width: 100px;
    margin-left: -10px;
  }
}
@media all and (max-width : 375px) {
  .third-sec-img {
    max-width: 22rem;
  }
}
