

.slider-img {
  filter: brightness(40%);
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 10px;
  font-size: 10vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: rgba(255,255,255,0.6);

}
.next {
  right: 1vw;
  border-radius: 3px 0 0 3px;
}

.next:hover {
  color: white;
}

.text {
  color: white;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: left;
  font-family: Arial;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.text h2 {
  font-size: 15vw;
  margin: auto;
}

.text p {
  font-size: 2vw;
  line-height: 2.5vw;
}

.text a {
  font-size: 2vw;
  text-decoration: none;
  position: relative;
  color: white;
  border: 2px solid white;
  border-radius: 5%;
  padding: 1% 5%;
  font-family: Arial;

}

.text a:hover {
  color: black;
  background-color: white;
  transition: 0.6s ease;
}

.btn {
  margin-top: 4%;
}

.dot {
  cursor: pointer;
  height: 2px;
  width: 15vw;
  margin: 0 5% 0 0;
  background-color: rgb(120, 120, 120);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-container {
  text-align: left;
  margin: 1% auto;
  max-width: 1000px;
}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media only screen and (min-width: 1000px) {
  .text {
    /*text-align: left;
    left: 55%*/
  }
  .text h2 {
    font-size: 150px;
  }
  .text p {
    font-size: 20px;
    line-height: 25px;
  }
  .text a {
    /*padding: 1% 5%;*/
    font-size: 25px;
  }
  .dot-container {
    /*text-align: left;
    margin: auto;*/
  }
  .dot {
    /*margin: 0 5% 0 0;*/
    width: 120px;
  }
  .next {
    top: 55%;
    right: -100px;
    font-size: 160px;
  }
}
