

.slider-img {
  filter: brightness(100%);
}

.slideshow-container {
  max-width: 70rem;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 10px;
  font-size: 10vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color: rgba(255,255,255,0.6);

}
.next {
  right: 1vw;
  border-radius: 3px 0 0 3px;
}

.next:hover {
  color: white;
}

.text {
  color: white;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: left;
  font-family: Arial;
  top: 35%;
  left: 55%;
  transform: translate(-50%, -50%);
}
.slider-text {
  margin-top: -40px;
}

.text h2 {
  font-size: 200px;
  margin: auto;
  font-weight: bold;
  letter-spacing: 10px;
}

.text p {
  font-size: 14px;
  line-height: 1.6;
}

.text a {
  font-size: 14px;
  text-decoration: none;
  position: relative;
  color: white;
  border: 2px solid white;
  border-radius: 5%;
  padding: 1% 5%;
  font-family: Arial;

}

.text a:hover {
  color: black;
  background-color: white;
  transition: 0.6s ease;
}

.btn {
  margin-top: 4%;
  margin-left: 10px;
  display: none;
}

.dot {
  cursor: pointer;
  height: 2px;
  width: 80px;
  margin: 0 30px 0 0;
  background-color: rgb(120, 120, 120);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-container {
  text-align: left;
  margin: 1% 0;
  margin-left: 3.7rem;
  max-width: 1000px;
}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.message-area {
  height: 100rem;
}

@media all and (max-width: 1550px) {
  .slideshow-container {
    max-width: 60rem;
    margin-left: 3rem;
  }
  .dot-container {
    margin-left: 3.1rem;
  }
}
@media all and (max-width: 1300px) {
  .slideshow-container {
    width: 50rem;
  }
}
@media all and (max-width: 1200px) {
  .slideshow-container {
    width: 45rem;
  }
}
@media only screen and (min-width: 1100px) {
  .text {
    /*text-align: left;
    left: 55%*/
  }
  .text h2 {
    font-size: 200px;
    font-weight: bold;
    letter-spacing: 10px;
  }
  .text p {
    font-size: 14px;
    line-height: 1.6;
    margin-left: 10px;
  }
  .text a {
    /*padding: 1% 5%;*/
    font-size: 14px;
  }
  .dot-container {
    /*text-align: left;
    margin: auto;*/
  }
  .dot {
    /*margin: 0 5% 0 0;*/
    width: 80px;
  }
  .next {
    top: 55%;
    right: -100px;
    font-size: 160px;
  }
}
@media all and (max-width: 1050px) {
  .slideshow-container {
    width: 100%;
  }
  .text h2 {
    font-size: 130px;
    font-weight: bold;
    letter-spacing: 10px;
  }
}
@media all and (max-width: 800px) {
  .slideshow-container {
    width: 100%;
  }
  .text h2 {
    font-size: 90px;
    font-weight: bold;
    letter-spacing: 10px;
  }
  .next-icon {
    margin-top: 40px;
    height: 80px;
    width: 40px;

  }
}
